.toc-article {
    z-index: 2;
    position: absolute;
    right: -1px;
    background: #fff;
    border: 1px solid #ddd;
    line-height: 20px;
    font-size: 16px;
    box-shadow: -2px 2px 3px #ddd;
}

.toc-fixed {
    position: fixed;
    top: 0;
    right: 30px;
}
 
#toc .toc-title {
    float: right;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 16px;
    padding: 2px;
    color: #CFA188;
    background: #f9f9f9;
    cursor: pointer;
}

#toc .toc-title:hover {
    color: #BA8F6C;
}

#toc .toc {
    float: left;
    padding: 8px;
}
 
#toc li, .toc li {
    list-style-type: none
}
 
#toc ol {
    margin: 0;
}
 
#toc .toc-child {
    padding-left: 16px;
}
